# 服务启动端口
APP_PORT=3000

# 接口限流配置
# 请求限制时间窗口（毫秒）
THROTTLE_TTL=60000
# 每个IP在时间窗口内的最大请求次数
THROTTLE_LIMIT=100

# 数据库配置
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_USERNAME="root"
DB_PASSWORD="123456"
DB_NAME="example"
DB_URL="mysql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# Redis配置
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD="123456"
REDIS_DB=3
# Redis缓存过期时间(毫秒)
REDIS_CACHE_TTL=3600000
REDIS_URL="redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}"

# Email配置(Resend)
MAIL_API_KEY="TvqXCP7PZkfXHcpbJGAL"
MAIL_FROM="NEST-TEMPLATE <no-reply@example.com>"
