# 应用设置
APP_NAME="NEST-TEMPLATE"
# 接口前缀
# APP_PREFIX=/api
# 接口版本号(多个版本时,使用逗号分隔,例如: VERSION=1,2,3)
# APP_VERSION=1

# Swagger配置
SWAGGER_ON=true
SWAGGER_PATH="/swagger"
SWAGGER_TITLE="NEST-TEMPLATE API Documentation"
SWAGGER_DESCRIPTION="This is an API documentation built with NestJS and Express"
SWAGGER_VERSION="1.0.0"

# Cookie配置
COOKIE_SECRET="n8qKKKwg4ywjeNQvZgRx"

# JWT配置
JWT_SECRET="y19aHoDBxkuDDZPjLf0r"
# JWT过期时间,单位: 毫秒 默认：15分钟 (900000毫秒)  刷新令牌默认：7天 (604800000毫秒)
JWT_ACCESS_EXPIRES_IN=900000
JWT_REFRESH_EXPIRES_IN=604800000

# 资源访问URL前缀
ASSETS_PREFIX="https://example.com/"

# Cloudflare配置
CLOUDFLARE_TURNSTILE_SECRET="jsri2dDKcbYYTyJ4RgeX"
CLOUDFLARE_ACCOUNT_ID="YQVBpKARKc4ZsEMD9Bj0"
CLOUDFLARE_R2_ACCESS_KEY="447XZmx6LsVCVo7fgG6F"
CLOUDFLARE_R2_SECRET_KEY="nNXnv0bztqPkAZHYMGe6"
CLOUDFLARE_R2_BUCKET_NAME="example"
CLOUDFLARE_R2_ENDPOINT="https://${CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com"
